<section class="container">
  <app-navbar link="/login"></app-navbar>
  <app-feedbackMessage [feedbackMessage]="feedbackForgot"></app-feedbackMessage>

  <form class="form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <h3 class="form__title">{{ 'FORGOT_PASSWORD.TITLE' | translate }}</h3>

    <span class="form__group">
      <div class="form__inputGroup">
        <input [ngClass]="{ 'form__input': true, 'form__input--invalid': !forgotForm.controls.email.valid }"
          type="email" formControlName="email" minlength="1" maxlength="50" placeholder="Email" required>

        <span
          [ngClass]="{ 'invisible': forgotForm.controls.email.valid, 'form__inputMessage--invalid': !forgotForm.controls.email.valid }">{{
          'FORGOT_PASSWORD.FEEDBACK_EMAIL' | translate }}</span>
      </div>

      <button class="form__button" [disabled]="forgotForm.invalid">{{ 'FORGOT_PASSWORD.BUTTON' | translate
        }}</button>
    </span>
  </form>

  <app-footer></app-footer>
</section>