<div class="container" *ngIf="toogleTemplante else sessionExpiration">
  <app-logo link="/" target="_blank"></app-logo>
  <app-feedbackMessage [feedbackMessage]="feedbackRecover"></app-feedbackMessage>

  <form class="form container__modal center" [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
    <h2 class="form__title">Recover Password</h2>
    <input [ngClass]="{ 'form__input': true, 'form__input--invalid': !recoverPasswordForm.controls.code.valid }"
      type="text" formControlName="code" placeholder="Code" minlength="6" maxlength="6" required>
    <span
      [ngClass]="{ 'form__inputMessage--invalid': !recoverPasswordForm.controls.code.valid, 'invisible': recoverPasswordForm.controls.code.valid }">
      It is not a valid code.</span>

    <span class="inline">
      <input
        [ngClass]="{ 'form__input': true, 'form__input--invalid': !recoverPasswordForm.controls.newPassword.valid }"
        [type]="typeInput" (keyup)="handleEqualPasswords()" formControlName="newPassword" placeholder="New password"
        minlength="8" maxlength="12" autocomplete="on" required>

      <span class="container__wrapper">
        <input class="form__input" [type]="typeInput" (keyup)="handleEqualPasswords()"
          formControlName="confirmNewPassword" placeholder="Confirm" minlength="8" maxlength="12" autocomplete="on"
          required>
        <span [ngClass]="{ 'form__inputPasswordMessage': true, 'invisible': !hasEqualPassword }">Passwords do
          not match</span>
      </span>

    </span>
    <span style="max-width: 64ch;"
      [ngClass]="{ 'form__inputMessage--invalid': !recoverPasswordForm.controls.newPassword.valid, 'invisible': recoverPasswordForm.controls.newPassword.valid }">
      The password must be longer than 8 characters and less than 12 characters, containing numbers, letters and
      symbols.</span>

    <label class="container__checkboxGroup">Show password
      <input type="checkbox" (change)="handleInputPassword()">
      <span class="checkmark"></span>
    </label>

    <button class="btn" [disabled]="recoverPasswordForm.invalid">Change</button>
  </form>
</div>


<ng-template #sessionExpiration>
  <div class="container">
    <app-logo link="/" target="_blank"></app-logo>

    <div class="container__modal center">
      <h3>The session has expired.</h3>
    </div>
  </div>
</ng-template>